<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Seats</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{ room.id }}</td>
        <td>{{ room.name }}</td>
        <td>{{ room.description }}</td>
        <td>{{ room.seats }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
